Source: visp
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Thomas Moulard <thomas.moulard@gmail.com>
Section: libs
Priority: extra
Build-Depends: debhelper (>= 9),
	       hardening-wrapper,
               cmake,
               doxygen,
               doxygen-latex,
               libopencv-dev,
               liblapack-dev,
               libcoin60-dev,
               libsoqt4-dev,
               libogre-dev (>= 1.7.4),
               libdc1394-22-dev,
               libxml2-dev,
               libjpeg-dev,
               libpng-dev,
               graphviz,
               libswscale-dev,
               libavutil-dev,
               libavformat-dev,
               libavcodec-dev,
               libbz2-dev,
               libx11-dev,
               libv4l-dev,
               libusb-dev,
               libfreenect-dev,
               libois-dev
Standards-Version: 3.9.4
Vcs-Browser: https://github.com/thomas-moulard/visp-deb
Vcs-Git: git://github.com/thomas-moulard/visp-deb.git
Homepage: http://www.irisa.fr/lagadic/visp/visp.html

Package: libvisp-dev
Architecture: any
Section: libdevel
Depends: libopencv-dev,
         liblapack-dev,
         libcoin60-dev,
         libsoqt4-dev,
         libogre-dev (>= 1.7.4),
         libdc1394-22-dev,
         libxml2-dev,
         libjpeg-dev,
         libpng-dev,
         libswscale-dev,
         libavutil-dev,
         libavformat-dev,
         libavcodec-dev,
         libbz2-dev,
         libx11-dev,
         libv4l-dev,
         libusb-dev,
         libfreenect-dev,
         libois-dev,
         libvisp2 (= ${binary:Version}),
         ${misc:Depends}
Suggests: libvisp-doc
Description: visual servoing library - development files
 ViSP, standing for Visual Servoing Platform, is unique. This software
 is a complete cross-platform solution that allows prototyping and
 developing applications in visual tracking and visual servoing.
 .
 ViSP can be useful in robotics, computer vision, augmented reality and
 computer animation.
 .
 This package contains development files (headers and shared library
 symbolic link).

Package: libvisp2
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: visual servoing library
 ViSP, standing for Visual Servoing Platform, is unique. This software
 is a complete cross-platform solution that allows prototyping and
 developing applications in visual tracking and visual servoing.
 .
 ViSP can be useful in robotics, computer vision, augmented reality and
 computer animation.

Package: libvisp2-dbg
Architecture: any
Section: debug
Depends: libvisp2 (= ${binary:Version}),
         ${misc:Depends}
Description: visual servoing library - debugging symbols
 ViSP, standing for Visual Servoing Platform, is unique. This software
 is a complete cross-platform solution that allows prototyping and
 developing applications in visual tracking and visual servoing.
 .
 ViSP can be useful in robotics, computer vision, augmented reality and
 computer animation.
 .
 This package contains the debugging symbols for the shared libraries.

Package: libvisp-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Description: visual servoing library - documentation
 ViSP, standing for Visual Servoing Platform, is unique. This software
 is a complete cross-platform solution that allows prototyping and
 developing applications in visual tracking and visual servoing.
 .
 ViSP can be useful in robotics, computer vision, augmented reality and
 computer animation.
 .
 This package contains the Doxygen generated documentation.
