#!/usr/bin/make -f

export DEB_BUILD_HARDENING=1
export DEB_BUILD_HARDENING_PIE=0

.PHONY: override_dh_auto_configure	\
	override_dh_auto_build		\
	override_dh_strip		\
	override_dh_auto_test

%:
	dh  $@

override_dh_auto_clean:
	dh_auto_clean
	rm -f doc/mainpage.doc
	rm -rf .pc

override_dh_auto_configure:
	dh_auto_configure -- \
		-DBUILD_DEMOS=ON -DBUILD_TESTING=ON -DBUILD_EXAMPLES=ON \
		-DBUILD_SHARED_LIBS=ON					\
		-DUSE_DC1394_1=OFF -DUSE_FFMPEG=ON			\
		-DUSE_DC1394_2=ON -DUSE_V4L2=ON -DUSE_OPENCV=ON 	\
		-DUSE_COIN=ON -DUSE_GSL=OFF				\
		-DUSE_LAPACK=ON -DUSE_OGRE=ON				\
		-DUSE_XML2=ON -DUSE_GTK2=ON -DUSE_LIBJPEG=ON		\
		-DUSE_LIBPNG=ON						\
		-DUSE_LIBFREENECT=ON -DUSE_X11=ON -DUSE_OIS=ON		\
		-DCMAKE_INSTALL_LIBDIR:STRING="lib/$(DEB_HOST_MULTIARCH)"

override_dh_auto_build:
	dh_auto_build -- # Compile the software.
	dh_auto_build -- html-doc # Generate Doxygen HTML documentation.

override_dh_strip:
	dh_strip -a --dbg-package=libvisp2-dbg

override_dh_auto_test:
